<ul class="content">
  <a href="#/{{stop.id}}" ng-repeat="stop in stops">
    <li class="stop">
      <div class="left">
        <span class="name">{{stop.name}}</span>
        <span class="towards" ng-show="stop.towards">Towards {{stop.towards}}</span>
        <div class="routes">
          <div class="route" ng-repeat="route in stop.routes">{{route.name}}</div>
        </div>
        <span class="distance">{{stop.distance_to_stop}} metres away</span>
      </div>
      <div class="right">
        <span class="letter">{{stop.stopIndicator}}</span>
        <div class="{{stop.direction}}"></div>
      </div>
    </li>
  </a>
</ul>
